html {
    font-size: 14px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#navbar {
    height: 40px;
}

code {
    color: black;
    line-height: 1.2;
}
.code-grey {
    background-color: #f6f8fa;
    border-radius: 3px;
}

pre {
    padding: 16px;
    line-height: 1.45;
    background-color: #f6f8fa;
}

.content {
    width: 900px;
    margin: 15px auto;
}

#tools.fixed {
    /* content width + 2*margin of .col */
    width: 930px;
    position: fixed;
    top: 40px;
}

#tools {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 1.0);
}

.icon-url {
    height: 60%;
}

#footer {
    text-align: center;
    color: #777;
}

#footer a {
    color: #777;
}

#footer li {
    display: inline-block;
    margin-left: 20px;
}

#footer ul {
    margin-left: 20px;
    margin-right: 20px;
    position: center;
}

.dalliance-root {
    max-height: 800px !important;
}

#scheme1 {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 195px;
    background: url('scheme1.png') top;
    background-size: 100%;
}

#scheme2 {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 197px;
    background: url('scheme2.png') top;
    background-size: 100%;
}

#scheme3 {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 192px;
    background: url('scheme3.png') top;
    background-size: 100%;
}

#scheme4 {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 190px;
    background: url('scheme4.png') top;
    background-size: 100%;
}

.span-area {
    background: rgba(1, 1, 1, .1);
}

.jbr-area {
    background: rgba(255, 222, 17, .1);
}

.table-nonfluid {
   width: auto !important;
}