.content {
    width: 900px;
    margin: 60px auto;
}

.icon-url {
    height: 60%;
}

#footer {
    text-align: center;
    color: #777;
}

#footer a {
    color: #777;
}

#footer li {
    display: inline-block;
    margin-left: 20px;
}

#footer ul {
    margin-left: 20px;
    margin-right: 20px;
    position: center;
}

.dalliance-root {
    max-height: 800px !important;
}

#scheme1 {
    height: 250px;
    background: url('scheme1.svg') top;
    background-size: 100%;
}

#tools {
    margin-top: 20px;
    background-position: top;
    position: relative;
}

#scheme2 {
    margin-top: 10px;
    height: 250px;
    background: url('scheme2.svg') top;
    background-size: 100%;
}

#scheme3 {
    margin-top: 10px;
    height: 250px;
    background: url('scheme3.svg') top;
    background-size: 100%;
}

.span_peak_caller {
    background: rgba(1, 1, 1, .1);
}

.jbr_genome_browser {
    background: rgba(255, 222, 17, .1);
}
