html {
    font-size: 14px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}


h2 {
  margin-top: 35px;
}
h3 {
  margin-top: 30px;
}
h4 {
  margin-top: 25px;
}

p {
  margin-top: 20px;
  margin-bottom: 5px;
}

#navbar {
    height: 35px;
}

.container {
    width: 950px;
}

.content {
    width: 900px;
    margin: 15px auto;
}

#footer {
    text-align: center;
    color: #777;
    margin-bottom: 15px;
}

#footer a {
    color: #777;
}

.dalliance-root {
    max-height: 800px !important;
}


#people li {
    list-style-type: none;
}

